.section-edit-survey-option {
  color: #222;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  .toolsDropdown {
    a {
      position: relative;
      padding-left: 2.2rem;
      & i {
        position: absolute;
        right: 2px;
        top: 6px;
      }
      .review-dropdown {
        display: none;
      }
      .review:hover .review-dropdown {
        display: inline-block;
      }
    }
  }
}
.outline-border {
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid transparent;
  &:active,
  &:hover {
    color: #222;
    border: 1px solid #737373;
  }
}

/* edit_survey section */
.editSurveySection {
  overflow: hidden;
  .leftContent {
    min-height: 95vh;
    .projectNameEdit {
      color: #222;
    }
    .section-block {
      .card {
        &-header {
          cursor: pointer;
          & > * {
            display: inline-block;
          }
          &.collapsed .fa-chevron-down,
          & .fa-chevron-right {
            display: none;
          }
          &.collapsed .fa-chevron-right,
          & .fa-chevron-down {
            display: inline-block;
          }
          i {
            color: #434242;
          }
          i.fa-chevron-down {
            &:hover {
              color: #b10c0c;
            }
          }
          i.fa-chevron-right {
            &:hover {
              color: #036103;
            }
          }
        }
        &-body {
          .hoverQuestion {
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            position: relative;
            &:hover .questionMove {
              display: block;
            }
            .questionMove {
              position: absolute;
              top: 2px;
              left: -29px;
              background-color: #909090;
              color: #fff;
              border-radius: 3px;
              width: 30px;
              text-align: center;
              overflow: hidden;
              display: none;
              &__valid,
              &__up,
              &__down {
                cursor: pointer;
                &:hover,
                &:hover {
                  background-color: #222;
                }
              }
            }
            .questionNumberContainer {
              border-right: 1px solid #ccc;
            }
            .questionBlock {
              .questionHeader {
                display: flex;
                padding: 0.1rem 0.3rem;
              }
              .questionBody {
                overflow-x: auto !important;
                overflow-y: auto !important;
                white-space: nowrap;
                & > * {
                  margin-bottom: 5px;
                }
                @media (max-width: 575px) {
                  width: 33rem !important;
                }
                & > *:not(.matrix) {
                  @media (max-width: 575px) {
                    width: 33rem !important;
                  }
                }
                .txtSingleLine input[type="text"],
                .txtFormAnswer input[type="text"],
                textarea {
                  margin-bottom: 2rem;
                }
              }
            }
          }
          & .row:hover .addQuestionControls {
            display: flex;
          }
        }
      }
      .card-text {
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  .rightControlsColor {
    background-color: #f2f5f8;
    border-left: 1px solid #ccc;
    position: relative;
  }
  .rightControls {
    min-height: 100vh;
    label {
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 600;
      display: inline-block;
    }
    .matrixType,
    .dropdown-menu-form {
      label {
        display: block;
        width: 100%;
      }
    }
    &-container {
      p {
        cursor: default;
        padding: 0.1rem 0.2rem;
        margin-bottom: 0;
        background-color: #222;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        font-weight: 600;
        font-size: 1.6rem;
        @media (min-width: 1500px) {
          font-size: 2rem;
        }
      }
    }
    .change-answers {
      &:hover > p {
        background-color: #161616;
      }
      .answers {
        & > * {
          display: block;
          margin: 2px auto;
          border-radius: 5px;
          width: 100%;
          padding: 1.3rem 0;
          text-align: center;
          font-size: 1.4rem;
          line-height: 2;
          position: relative;
          &:before {
            content: "";
            height: 0;
            width: 0;
          }
          &:after {
            color: #222;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            @include center;
          }
          &:checked:after {
            color: #fff;
            font-weight: 700;
          }
        }
        #singleAnswers {
          width: 47%;
          display: inline-block;
          &:after {
            content: "Choices";
          }
        }
        #dropDownOneAnswer {
          width: 51%;
          display: inline-block;
          &:after {
            content: "Dropdown";
          }
        }
        #sliderAnswer {
          display: inline-block;
          width: 30.33333333333333%;
          &:after {
            content: "Slider";
          }
        }
        #rankAnswer {
          display: inline-block;
          width: 32.33333333333333%;
          &:after {
            content: "Rank";
          }
        }
        #matrixAnswer {
          display: inline-block;
          width: 33.33333333333333%;
          &:after {
            content: "Matrix";
          }
        }
        #sideAnswer {
          &:after {
            content: "Side by Side";
          }
        }
        #txtSingleLineAnswer {
          width: 47%;
          display: inline-block;
          &:after {
            content: "Text";
          }
        }
        #uploadImgAnswer {
          width: 51%;
          display: inline-block;
          &:after {
            content: "Upload";
          }
        }
      }
    }
    .change-type {
      .types {
        min-height: 31px;
      }
    }

    .change-validation {
      .dropdown-menu-form {
        label {
          display: block;
        }
        input {
          border-radius: 2px;
        }
      }
    }
  }
}

/* edit_survey section end- */
