/* edit_survey section */

.editSurveySection {
  overflow: hidden;
  .leftContent {
    .projectNameEdit {
      color: #222;
    }
    .section-block {
      .card {
        &-body {
          overflow: hidden;
          .hoverQuestion {
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            position: relative;
            &:hover .questionMove {
              display: block;
            }
            .questionMove {
              position: absolute;
              top: 35%;
              left: -30px;
              background-color: #909090;
              color: #fff;
              border-radius: 10px;
              width: 30px;
              text-align: center;
              overflow: hidden;
              display: none;
              &__up,
              &__down {
                cursor: pointer;
                &:hover,
                &:hover {
                  background-color: #222;
                }
              }
            }
            .col-1 {
              border-right: 1px solid #ccc;
            }
            .questionBlock {
              .questionHeader {
                display: inline-block;
                padding: 0.1rem 0.3rem;
              }
            }
          }
          & .row:hover .addQuestionControls {
            display: flex;
          }
          .addQuestionControls {
            display: none;
            flex-direction: column;
            i {
              cursor: pointer;
              font-size: 2.2rem;
            }
            .fa-plus-circle {
              color: green;
            }
            .fa-minus-circle {
              color: #cb0c0c;
            }
          }
        }
      }
      .card-text {
        span {
          font-size: 1.2rem;
        }
      }
    }
  }
  .hoverQuestionClicked {
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    background-color: #f2f5f8;
  }
  .rightControlsColor {
    background-color: #f2f5f8;
    border-left: 1px solid #ccc;
  }
  .rightControls {
    overflow: hidden;
    min-height: 100vh;
    p {
      font-size: 1.2rem;
    }
    .choices {
      font-size: 2.4rem;
      i {
        cursor: pointer;
        font-size: 3rem;
        margin: 0 1rem;
        &:active {
          transform: scale(0.9)
        }
      }
      i.fa-minus-circle {
        color: #cb0c0c;
      }
      span {
        color: #222;
        line-height: 1;
        font-weight: 700;
        transition: none;
      }
      i.fa-plus-circle {
        color: green;
      }
    }
    p {
      padding: 0.4rem 0;
      background-color: #222;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      font-weight: 600;
      font-size: 1.5rem;
    }
    .change-answers {
      .answers {
        &>* {
          display: block;
          margin: 7px auto;
          border-radius: 2px;
          width: 100%;
          padding: 1.7rem;
          text-align: center;
          font-size: 1.5rem;
          position: relative;
          &:before {
            content: "";
          }
          &:after {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            @include center;
          }
        }
        #singleAnswers:after {
          content: "Single choice";
        }
        #multibleAnswers:after {
          content: "Multiple choices";
        }
        #dropDownOneAnswer:after {
          content: "Dropdown Single choice";
        }
        #dropDownMultiAnswer:after {
          content: "Dropdown Multi choices";
        }
        #sliderAnswer:after {
          content: "Slider";
        }
        #rankAnswer:after {
          content: "Rank";
        }
        #matrixAnswer:after {
          content: "Matrix";
        }
        #txtSingleLineAnswer:after {
          content: "Text Single Line";
        }
        #txtEssayAnswer:after {
          content: "Text Essay";
        }
        #txtFormAnswer:after {
          content: "Text Form";
        }
        #uploadImgAnswer:after {
          content: "Upload Image";
        }
      }
    }
  }
}

/* edit_survey section end- */