/* edit_survey section */

.editSurveySection {
  min-height: 75vh;
  overflow: hidden;
  .leftContent {
    .projectNameEdit {
      color: #222;
    }
  }
  .rightControls {
    height: 75vh;
    background-color: #f2f5f8;
    border-left: 1px solid #ccc;
  }
}

/* edit_survey section end- */