/* REPORT */

.reportSection {
  .noteValue textarea {
    resize: none;
    border: none !important;
    overflow: auto;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  .visibilityHidden {
    visibility: hidden !important;
  }
  .btn-group-active {
    background-color: $nav-main-color !important;
    color: #fff !important;
  }
}

/* REPORT end--*/