/* REPORT */

.reportSection {
  .note {
    min-height: 8rem;
  }
  .noteValue {}
  .visibilityHidden {
    visibility: hidden !important;
  }
  .btn-group-active {
    background-color: $nav-main-color !important;
    color: #fff !important;
  }
}

/* REPORT end--*/