/* users */

.userTableSection {
  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

.userMangSection {
  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* users end */