/* colors */

$nav-main-color:#007ac0;
$main-gray:#a5a5a5;
$Light-green: #7ed56f;
$Light-green-opacity: rgba(126, 213, 111, 0.8);
$Medium-green: #55c57a;
$Medium-green-opacity: rgba(85, 197, 122, 0.8);
$Dark-green: #28b485;
$Dark-green-opacity: rgba(40, 180, 131, 0.8);
$card-secondary-light: #ffb900;
$card-secondary-dark: #ff7730;
$card-tertiary-light: #2998ff;
$card-tertiary-dark: #5643fa;
$color-gray: #eee;
$color-gray-light-1: #e9e9e9;
$color-gray-light-2: #999;
$color-gray-light-3: #333;
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
/* utility margin */

$m-small: 2rem;
$m-medium: 6rem;
$m-big: 8rem;
$m-huge: 10rem;
/* font size */

$default-font-size: 1.6rem;
/* gid */

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;