@font-face{
  font-family: Nunito;
  font-style: italic;
  font-weight: 200;
  src: local("Nunito ExtraLight Italic"),local(Nunito-ExtraLightItalic),url(//fonts.gstatic.com/s/nunito/v9/7OqZTbfdEIbjL5TSZvx5M2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/7OqZTbfdEIbjL5TSZvx5M44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/7OqZTbfdEIbjL5TSZvx5M4bN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: italic;
  font-weight: 300;
  src: local("Nunito Light Italic"),local(Nunito-LightItalic),url(//fonts.gstatic.com/s/nunito/v9/_C_xq8cfm7bmasVf4cTGmmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/_C_xq8cfm7bmasVf4cTGmo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/_C_xq8cfm7bmasVf4cTGmobN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: italic;
  font-weight: 400;
  src: local("Nunito Italic"),local(Nunito-Italic),url(//fonts.gstatic.com/s/nunito/v9/e1JIfv55TNOgCFQk8L4i7fesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/TKXondz8XS_niu2DEyc9EfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/HJv9SI174j8r18hqo4OctvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: italic;
  font-weight: 600;
  src: local("Nunito SemiBold Italic"),local(Nunito-SemiBoldItalic),url(//fonts.gstatic.com/s/nunito/v9/PcNqAMqDrzfKE6Iowq7NvGfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/PcNqAMqDrzfKE6Iowq7NvI4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/PcNqAMqDrzfKE6Iowq7NvIbN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: italic;
  font-weight: 700;
  src: local("Nunito Bold Italic"),local(Nunito-BoldItalic),url(//fonts.gstatic.com/s/nunito/v9/opLCcgSQ1qknYem5jTk00mfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/opLCcgSQ1qknYem5jTk00o4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/opLCcgSQ1qknYem5jTk00obN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: italic;
  font-weight: 800;
  src: local("Nunito ExtraBold Italic"),local(Nunito-ExtraBoldItalic),url(//fonts.gstatic.com/s/nunito/v9/UJeC1HH28GiylGna4brNoWfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/UJeC1HH28GiylGna4brNoY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/UJeC1HH28GiylGna4brNoYbN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: italic;
  font-weight: 900;
  src: local("Nunito Black Italic"),local(Nunito-BlackItalic),url(//fonts.gstatic.com/s/nunito/v9/zn-qzKw_O9wBPVv0pW4_ZmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/zn-qzKw_O9wBPVv0pW4_Zo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/zn-qzKw_O9wBPVv0pW4_ZobN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: normal;
  font-weight: 200;
  src: local("Nunito ExtraLight"),local(Nunito-ExtraLight),url(//fonts.gstatic.com/s/nunito/v9/BCVslGnw-rd3HMmA07k03_Y6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/BCVslGnw-rd3HMmA07k031tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/BCVslGnw-rd3HMmA07k03z8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  src: local("Nunito Light"),local(Nunito-Light),url(//fonts.gstatic.com/s/nunito/v9/1TiHc9yag0wq3lDO9cw0vvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/1TiHc9yag0wq3lDO9cw0vltXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/1TiHc9yag0wq3lDO9cw0vj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"),local(Nunito-Regular),url(//fonts.gstatic.com/s/nunito/v9/JzBfLWXc4Z6sd0WuCbRTgg.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/0rdItLTcOd8TSMl72RUU5w.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  src: local("Nunito SemiBold"),local(Nunito-SemiBold),url(//fonts.gstatic.com/s/nunito/v9/NcqjkPJTQZlJIFxZdZcTe_Y6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/NcqjkPJTQZlJIFxZdZcTe1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/NcqjkPJTQZlJIFxZdZcTez8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"),local(Nunito-Bold),url(//fonts.gstatic.com/s/nunito/v9/TttUCfJ272GBgSKaOaD7KvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/TttUCfJ272GBgSKaOaD7KltXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/TttUCfJ272GBgSKaOaD7Kj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  src: local("Nunito ExtraBold"),local(Nunito-ExtraBold),url(//fonts.gstatic.com/s/nunito/v9/uWPftrNW4xALzHc_KE-W1PY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/uWPftrNW4xALzHc_KE-W1FtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/uWPftrNW4xALzHc_KE-W1D8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  src: local("Nunito Black"),local(Nunito-Black),url(//fonts.gstatic.com/s/nunito/v9/Cj2facSP9LFhbctU5GJ2WPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/nunito/v9/Cj2facSP9LFhbctU5GJ2WFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/nunito/v9/Cj2facSP9LFhbctU5GJ2WD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@charset "UTF-8";
/*@import abstract folder */
/* colors */
/* utility margin */
/* font size */
/* gid */
/* Just include this SCSS mixin in any rule and specify the high resolution image’s path and device independent pixel dimensions
div.logo {
  background: url("logo.png") no-repeat;
  @include image-2x("logo2x.png",100px,25px);
}
The image-2x mixin detects high resolution displays like this
*/
/* triangle you see coming out of most traditional tooltips */
/* MEDIA QUERY MANAGER
0 - 600px:  Phone
600 - 900px: Tablet portrait
900 - 1200px Tablet landscape
1200 - 1800 is where our normal style apply
1800px + : Big Desktop

$brakpoint argument choices:
em is best for @media instead of px
- phone max-width: 600px /16 = 37.5em
- tab-port max-width: 900px / 16 = 56.25em
- tab-land max-width: 1200px / 16 = 75em
- big-desktop min-width: 1800px / 16 = 112.5em
ORDER:
> Base + typography
> general layout + grid
> page layout
> components
 */
/*@import abstract folder end-----------------------------*/
/*@import base folder */
/* Base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
  /* projects that use icons. It doesn't affect much on most layouts I tried applying it on, as it only really comes up when inline or inline-block elements line up with each other on the same line. */
  vertical-align: middle;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-font-smoothing: antialiased; }

html {
  /* defines 1 rem = 62.5% of browser default rem which is 16px
  this leads to 1 rem = 62.5% of 16px = 10px to could make every font and size with rem and this is for easy responsive */
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

main {
  background-color: #f9f9f9; }

::-moz-selection {
  color: white;
  background: #7ed56f; }

::selection {
  color: white;
  background: #7ed56f; }

::-webkit-input-placeholder {
  color: #a5a5a5; }

:-moz-placeholder {
  color: #a5a5a5; }

::-moz-placeholder {
  color: #a5a5a5; }

:-ms-input-placeholder {
  color: #a5a5a5; }

::-ms-input-placeholder {
  color: #a5a5a5; }

::placeholder {
  color: #a5a5a5; }

a {
  cursor: pointer;
  text-decoration: none !important;
  color: #a5a5a5; }
  a:hover {
    color: #007ac0; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* radio and checkbox style */
label {
  display: block;
  line-height: 20px;
  font-size: 1.2rem; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000; }
  input[type="radio"]:hover,
  input[type="checkbox"]:hover {
    background: #9faab7; }
  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    background: #20e0d0; }
  input[type="radio"]:checked::before,
  input[type="checkbox"]:checked::before {
    content: '✔';
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: 20px; }
  input[type="radio"]:checked::after,
  input[type="checkbox"]:checked::after {
    background: #20e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100; }

input[type="radio"] {
  border-radius: 50%; }
  input[type="radio"]::after {
    border-radius: 50%; }

/* radio and checkbox style end---- */
.outline-border {
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid transparent; }
  .outline-border:hover {
    color: #222;
    border: 1px solid #737373; }

/* Base end-------------------- */
/* typography */
body {
  font-family: "Nunito", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

/* typography end----------------------- */
/* utility margin padding */
.u-text-center {
  text-align: center !important; }

/* margin-bottom */
.u-mb-small {
  margin-bottom: 2rem !important; }

.u-mb-medium {
  margin-bottom: 6rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-medium {
      margin-bottom: 3rem !important; } }

.u-mb-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-big {
      margin-bottom: 5rem !important; } }

.u-mb-huge {
  margin-bottom: 10rem !important; }

/* margin-bottom end------------------------*/
/* margin-top */
.u-mt-small {
  margin-top: 2rem !important; }

.u-mt-medium {
  margin-top: 6rem !important; }

.u-mt-big {
  margin-top: 8rem !important; }

.u-mt-huge {
  margin-top: 10rem !important; }

/* margin-top end------------------------*/
/* margin-left */
.u-ml-small {
  margin-left: 1.1rem !important; }

.u-ml-medium {
  margin-left: 6rem !important; }

.u-ml-big {
  margin-left: 8rem !important; }

.u-ml-huge {
  margin-left: 10rem !important; }

/* margin-left end------------------------*/
/* margin-right */
.u-mr-small {
  margin-right: 1.1rem !important; }

.u-mr-medium {
  margin-right: 6rem !important; }

.u-mr-big {
  margin-right: 8rem !important; }

.u-mr-huge {
  margin-right: 10rem !important; }

/* margin-right end------------------------*/
/* utility margin padding end-----------------*/
/* animation */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-moz-keyframes moveInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-10rem);
         transform: translateX(-10rem); }
  80% {
    -moz-transform: translateX(2rem);
         transform: translateX(2rem); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
         transform: translateX(0); } }
@-o-keyframes moveInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-10rem);
       transform: translateX(-10rem); }
  80% {
    -o-transform: translateX(2rem);
       transform: translateX(2rem); }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
       transform: translateX(0); } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
       -moz-transform: translateX(-10rem);
         -o-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(2rem);
       -moz-transform: translateX(2rem);
         -o-transform: translateX(2rem);
            transform: translateX(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-moz-keyframes moveInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(10rem);
         transform: translateX(10rem); }
  80% {
    -moz-transform: translateX(-1rem);
         transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
         transform: translateX(0); } }

@-o-keyframes moveInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(10rem);
       transform: translateX(10rem); }
  80% {
    -o-transform: translateX(-1rem);
       transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
       transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
       -moz-transform: translateX(10rem);
         -o-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
       -moz-transform: translateX(-1rem);
         -o-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem); }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-moz-keyframes moveInBottom {
  0% {
    opacity: 0;
    -moz-transform: translateY(10rem);
         transform: translateY(10rem); }
  80% {
    -moz-transform: translateY(-1rem);
         transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
         transform: translateY(0); } }

@-o-keyframes moveInBottom {
  0% {
    opacity: 0;
    -o-transform: translateY(10rem);
       transform: translateY(10rem); }
  80% {
    -o-transform: translateY(-1rem);
       transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
       transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
       -moz-transform: translateY(10rem);
         -o-transform: translateY(10rem);
            transform: translateY(10rem); }
  80% {
    -webkit-transform: translateY(-1rem);
       -moz-transform: translateY(-1rem);
         -o-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); } }

/* animation end-------------------- */
/*@import base folder end-----------------------------*/
/*@import layout folder */
/* navigation */
/* navbar-main */
.navbar-main {
  background-color: white !important;
  border-bottom: 1px solid #e8e8e8; }
  .navbar-main .projectNameEdit {
    cursor: pointer; }
    .navbar-main .projectNameEdit:hover {
      color: #222; }

/* navbar-main */
.navbar-bottom {
  background-color: #fff;
  border-bottom: 1px solid #ccc; }
  .navbar-bottom a {
    font-weight: bold;
    border-bottom: 3px solid transparent; }
  .navbar-bottom .active a {
    border-bottom: 3px solid #007ac0; }

.navbar-nav .active a {
  color: #007ac0 !important; }

.navbar-nav .nav-item {
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important; }

.navbar-nav .nav-link {
  font-size: 1.3rem; }
  .navbar-nav .nav-link i {
    font-size: 25px; }

.navbar-nav .dropdown-menu {
  -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
  border: 1px solid #c6c6c6;
  border-color: #000000;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  left: -8rem; }

.navbar-nav .dropdown-item {
  font-size: 1.2rem; }
  .navbar-nav .dropdown-item:hover {
    color: #fff;
    background-color: #007ac0; }

/* navigation end-------------------------------------- */
/* header */
/* header end------------------ */
/* footer */
.footer {
  overflow: hidden;
  padding: 2rem;
  border-top: 1px solid #a5a5a5;
  background: transparent; }

/* /footer end-------------------------------------- */
/*@import layout folder end-----------------------------*/
/*@import component */
/* btn component */
.btn {
  -webkit-box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
     -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
       -o-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn:active {
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9); }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.reportSection .rightControls .btn-group .btn {
  font-size: 1.7rem;
  background-color: #fff;
  padding: 1rem 3rem;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transform: scale(1) !important;
     -moz-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
       -o-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .reportSection .rightControls .btn-group .btn:hover {
    background-color: #e9e9e9; }
  .reportSection .rightControls .btn-group .btn:active {
    -webkit-transform: scale(1) !important;
       -moz-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
         -o-transform: scale(1) !important;
            transform: scale(1) !important; }

/* btn component end--------------------- */
/* card component */
.projects-list-container {
  position: relative; }
  .projects-list-container .card {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .projects-list-container .card:hover {
      -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
              box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
      border: 1px solid #c6c6c6;
      border-color: #000000;
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px; }
    .projects-list-container .card-body .projectName {
      font-size: 1.9rem;
      color: #222; }
    .projects-list-container .card-body .card-text {
      font-size: 1.2rem; }
    .projects-list-container .card-body__details {
      padding: 2.4rem 5rem 0 5rem;
      text-align: center; }
      .projects-list-container .card-body__details h2 {
        color: #222;
        font-weight: bold; }
      .projects-list-container .card-body__details > * {
        padding: 0 5rem; }
      .projects-list-container .card-body__details-status {
        padding-top: 0.7rem; }
        .projects-list-container .card-body__details-status h2 {
          font-size: 1.3rem; }
  .projects-list-container .card-body-icon {
    cursor: pointer;
    position: relative;
    top: 5px;
    right: 5px;
    text-align: center;
    font-size: 2rem;
    line-height: 40px;
    background-color: #e9e9e9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .projects-list-container .card-body-icon:hover {
      background-color: #007ac0; }
      .projects-list-container .card-body-icon:hover a[role="button"] {
        color: #fff; }

/* card component end----------------- */
/* form */
/* form end------------------------ */
.modal-dialog {
  -webkit-transform: translate(-50%, 90px) !important;
     -moz-transform: translate(-50%, 90px) !important;
      -ms-transform: translate(-50%, 90px) !important;
       -o-transform: translate(-50%, 90px) !important;
          transform: translate(-50%, 90px) !important; }

.modal-content {
  background-color: #f2f2f2;
  width: 70rem;
  overflow: hidden; }

.modal-body {
  height: 40rem;
  position: relative; }
  .modal-body .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .modal-body .list-group {
    position: absolute;
    z-index: 100;
    top: -15px;
    left: 0;
    height: 300rem;
    width: 22rem;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
    border: 1px solid #c6c6c6;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px; }
    .modal-body .list-group .active {
      background-color: #fff;
      color: #000;
      -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
              box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
      border: 1px solid #c6c6c6;
      border-color: #000000;
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      position: relative; }
      .modal-body .list-group .active:after {
        content: "";
        display: inline;
        position: absolute;
        z-index: 100000;
        left: 21rem;
        top: 15px;
        border-bottom: 8.5px solid #fff;
        border-right: 8.5px solid #fff;
        border-top: 8.5px solid transparent;
        border-left: 8.5px solid transparent;
        -webkit-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.16);
                box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.16);
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .modal-body .list-group-item {
      background-color: #f2f2f2;
      border-radius: 0px !important;
      border: 0px !important;
      padding: 1rem;
      border: none;
      font-size: 1.1rem; }
      .modal-body .list-group-item:nth-child(1) {
        margin-top: 3rem; }
      .modal-body .list-group-item span {
        padding-right: 1rem; }

.modal-footer {
  border-top: 1px solid #eee; }

.modal .tab-content .list-Research {
  position: relative; }
  .modal .tab-content .list-Research span {
    display: inline-block; }
    .modal .tab-content .list-Research span:hover i {
      border: 1px solid #000;
      cursor: pointer; }
    .modal .tab-content .list-Research span i {
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 0 2rem;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
      font-size: 2.5rem; }
  .modal .tab-content .list-Research .tab-pane__research {
    margin: 1rem 0;
    display: block; }
    .modal .tab-content .list-Research .tab-pane__research-text {
      position: absolute;
      top: 5.5rem;
      left: 12rem; }
      .modal .tab-content .list-Research .tab-pane__research-text h5 {
        font-size: 1.7rem;
        color: #484848; }
      .modal .tab-content .list-Research .tab-pane__research-text p {
        font-size: 1.2rem; }

.modal .tab-pane a:hover .tab-pane__research {
  -webkit-transform: scale(1.03);
     -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
       -o-transform: scale(1.03);
          transform: scale(1.03); }

.modal .tab-pane a:active .tab-pane__research {
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9); }

.modal .tab-pane__research {
  -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
  border: 1px solid #c6c6c6;
  border-color: #000000;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 10rem;
  margin: 1rem;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #d7d7d7; }
  .modal .tab-pane__research-head {
    width: 100%;
    height: 10rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d5f69), to(#000));
    background-image: -webkit-linear-gradient(#4d5f69, #000);
    background-image: -moz-linear-gradient(#4d5f69, #000);
    background-image: -o-linear-gradient(#4d5f69, #000);
    background-image: linear-gradient(#4d5f69, #000);
    position: relative; }
    .modal .tab-pane__research-head i {
      color: #fff;
      font-size: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
           -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .modal .tab-pane__research h5 {
    padding-left: 6px; }

.dropDownClickBorder {
  border: 1px solid #737373 !important;
  color: #007ac0 !important; }

.section-home-dropdown__link {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid transparent; }
  .section-home-dropdown__link:hover {
    border: 1px solid #737373; }

.section-home-dropdown .dropdown-item > .fa {
  padding-right: 4px;
  visibility: hidden; }

.section-home-dropdown .dropdown-item.checked > .fa {
  visibility: visible; }

.dropdown-menu {
  z-index: 6000;
  -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
  border: 1px solid #c6c6c6;
  border-color: #000000;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px; }

.dropdown-item {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0 1.5rem; }
  .dropdown-item > .fa {
    padding-right: 6px; }
  .dropdown-item:hover {
    color: #fff !important;
    background-color: #007ac0 !important; }

.dropdown {
  border: 0 !important;
  background-color: transparent;
  outline: 0 !important; }

/* edit_survey nav */
/* edit_survey nav end-- */
/* editable  */
[contenteditable="true"] {
  padding: 0.2rem 0.3rem;
  border: 1px solid transparent; }

.editable-focus {
  background-color: #fff;
  border: 1px solid blue; }

/* editable end */
/*@import component end-----------------------------*/
/*@import PAGES folder */
/* home */
.menu__close {
  left: -27rem; }

.menu__folder {
  margin-left: 27rem; }

main {
  min-height: 85vh;
  overflow: hidden; }
  main .section-home {
    position: relative; }
    main .section-home-folders__link {
      font-size: 2rem; }
      main .section-home-folders__link i {
        font-size: 2.5rem; }
    main .section-home-folders__menu {
      position: absolute;
      z-index: 100;
      top: -3rem;
      width: 25rem;
      height: 100rem;
      background-color: #fff;
      -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
              box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
      border: 1px solid #c6c6c6;
      border-color: #000000;
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px; }
      main .section-home-folders__menu-close {
        position: relative; }
        main .section-home-folders__menu-close i {
          cursor: pointer;
          position: absolute;
          right: 0.9rem;
          font-weight: normal; }
          main .section-home-folders__menu-close i:hover {
            color: red; }
      main .section-home-folders__menu .nav-item {
        padding-top: 1rem;
        padding-bottom: 1rem; }
        main .section-home-folders__menu .nav-item:nth-child(2) {
          border-bottom: 1px solid #eee; }
        main .section-home-folders__menu .nav-item .active {
          font-weight: bold;
          color: #007ac0;
          background-color: #f9f9f9; }
        main .section-home-folders__menu .nav-item:last-child a {
          font-size: 1.1rem; }
      main .section-home-folders__menu .nav-link {
        font-size: 1.5rem; }
  main .form-inline span {
    position: relative; }
    main .form-inline span:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 1.7rem;
      position: absolute;
      top: 1px;
      left: 9px; }
    main .form-inline span input {
      padding-left: 3rem; }

/* home end----------------- */
/* edit_survey section */
.editSurveySection {
  overflow: hidden; }
  .editSurveySection .leftContent .projectNameEdit {
    color: #222; }
  .editSurveySection .leftContent .section-block .card-body .hoverQuestion {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative; }
    .editSurveySection .leftContent .section-block .card-body .hoverQuestion:hover .questionMove {
      display: block; }
    .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionMove {
      position: absolute;
      top: 35%;
      left: -30px;
      background-color: #909090;
      color: #fff;
      border-radius: 10px;
      width: 30px;
      text-align: center;
      overflow: hidden;
      display: none; }
      .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionMove__up, .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionMove__down {
        cursor: pointer; }
        .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionMove__up:hover, .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionMove__up:hover, .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionMove__down:hover, .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionMove__down:hover {
          background-color: #222; }
    .editSurveySection .leftContent .section-block .card-body .hoverQuestion .col-1 {
      border-right: 1px solid #ccc; }
    .editSurveySection .leftContent .section-block .card-body .hoverQuestion .questionBlock .questionHeader {
      display: inline-block;
      padding: 0.1rem 0.3rem; }
  .editSurveySection .leftContent .section-block .card-body .row:hover .addQuestionControls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .editSurveySection .leftContent .section-block .card-body .addQuestionControls {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .editSurveySection .leftContent .section-block .card-body .addQuestionControls i {
      cursor: pointer;
      font-size: 2.2rem; }
    .editSurveySection .leftContent .section-block .card-body .addQuestionControls .fa-plus-circle {
      color: green; }
    .editSurveySection .leftContent .section-block .card-body .addQuestionControls .fa-minus-circle {
      color: #cb0c0c; }
  .editSurveySection .leftContent .section-block .card-text span {
    font-size: 1.2rem; }
  .editSurveySection .hoverQuestionClicked {
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    background-color: #f2f5f8; }
  .editSurveySection .rightControlsColor {
    background-color: #f2f5f8;
    border-left: 1px solid #ccc; }
  .editSurveySection .rightControls {
    overflow: hidden;
    min-height: 100vh; }
    .editSurveySection .rightControls p {
      font-size: 1.2rem; }
    .editSurveySection .rightControls .choices {
      font-size: 1.6rem; }
      .editSurveySection .rightControls .choices i {
        cursor: pointer; }
      .editSurveySection .rightControls .choices i.fa-minus-circle {
        color: #cb0c0c; }
      .editSurveySection .rightControls .choices span {
        color: #222; }
      .editSurveySection .rightControls .choices i.fa-plus-circle {
        color: green; }
    .editSurveySection .rightControls .answers #multibleAnswers {
      border-radius: 0; }

/* edit_survey section end- */
/* preview-mobile */
.preview-mobile .preview-left .questionBlock {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  width: 100vh; }
  .preview-mobile .preview-left .questionBlock input {
    width: 0;
    padding: 3rem 0;
    position: relative;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px 0; }
    .preview-mobile .preview-left .questionBlock input:hover {
      background-color: transparent; }
    .preview-mobile .preview-left .questionBlock input:checked {
      background: transparent; }
    .preview-mobile .preview-left .questionBlock input:checked + span {
      background: #20e0d0; }
    .preview-mobile .preview-left .questionBlock input:checked::before {
      content: ""; }
  .preview-mobile .preview-left .questionBlock .card-text span {
    padding: 2rem 0;
    width: 90vh;
    cursor: pointer;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 15px;
    border-radius: 5px;
    background-color: #9faab7; }
    @media (max-width: 37.5em) {
      .preview-mobile .preview-left .questionBlock .card-text span {
        width: 40vh; } }
    .preview-mobile .preview-left .questionBlock .card-text span:hover {
      background: #20e0d0; }

/* preview-mobile end */
/* PREVIEW */
.preview {
  background-color: #fff;
  min-height: 70vh; }
  .preview-left {
    min-height: 70vh; }
    .preview-left iframe {
      background-color: #fff !important;
      width: 100%;
      min-height: 100vh; }
  .preview-right {
    min-height: 70vh;
    background-color: #4e5861; }
    .preview-right__container {
      background: url("../img/iphone.png") no-repeat;
      margin: auto;
      width: 49rem;
      height: 94rem; }
      @media (max-width: 1500px) {
        .preview-right__container {
          width: 46rem;
          height: 75rem; } }
      .preview-right__container-mobile {
        width: 26.7rem;
        height: 45rem; }
        @media (max-width: 1500px) {
          .preview-right__container-mobile {
            width: 32.1rem;
            height: 56rem; } }
        .preview-right__container-mobile iframe {
          position: relative;
          margin: 8.1rem 0 0 1.4rem;
          width: 100%;
          height: 100%; }
          @media (max-width: 1500px) {
            .preview-right__container-mobile iframe {
              margin: 8.5rem 0 0 1.8rem; } }

/* PREVIEW end */
.distributeSection {
  color: #222; }
  .distributeSection .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .distributeSection .distribute .fa-globe,
  .distributeSection .distribute .fa-mobile {
    font-size: 6rem; }
  .distributeSection .distribute__web:hover, .distributeSection .distribute__mobile:hover {
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 0 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.2); }
  .distributeSection .distribute__web {
    border: 1px solid transparent;
    border-radius: 4px; }
    .distributeSection .distribute__web .fa-globe,
    .distributeSection .distribute__web h2 {
      color: #007ac0; }
  .distributeSection .distribute__mobile {
    min-height: 55rem;
    border: 1px solid transparent;
    border-radius: 4px; }
    .distributeSection .distribute__mobile #userID {
      width: 5rem; }
    .distributeSection .distribute__mobile #userMOBILE {
      width: 15rem; }
    .distributeSection .distribute__mobile #userNAME {
      width: 25rem; }
    .distributeSection .distribute__mobile #userFULLNAME {
      width: 40rem; }
    .distributeSection .distribute__mobile .fa-mobile,
    .distributeSection .distribute__mobile h2 {
      color: #28b485; }
    .distributeSection .distribute__mobile .nav-link {
      font-size: 1.5rem;
      border: 1px solid transparent; }
      .distributeSection .distribute__mobile .nav-link:hover {
        border: 1px solid #28b485;
        color: #28b485; }
    .distributeSection .distribute__mobile .nav-link.active {
      background-color: #28b485; }
      .distributeSection .distribute__mobile .nav-link.active:hover {
        color: #fff; }

.responsesSection .responseNumber {
  color: #222;
  font-weight: bold; }

.responsesSection .responseTable td:nth-child(3) {
  cursor: pointer; }

.responsesSection .responseTable .responseTableActionMenu i {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5rem 1rem; }
  .responsesSection .responseTable .responseTableActionMenu i:hover {
    border: 1px solid #222;
    color: #222;
    background-color: #eee; }

.responsesSection .QC-status .status-approved {
  color: #28b485; }

.responsesSection .QC-status .status-rejected {
  color: red; }

/* REPORT */
.reportSection .note {
  min-height: 8rem; }

.reportSection .visibilityHidden {
  visibility: hidden !important; }

.reportSection .btn-group-active {
  background-color: #007ac0 !important;
  color: #fff !important; }

/* REPORT end--*/
/* library */
.librarySection .leftContent .dropzone {
  cursor: pointer;
  padding: 9rem 2rem;
  background: white;
  border-radius: 5px;
  border: 2px dashed #0087f7;
  -webkit-border-image: none;
     -moz-border-image: none;
       -o-border-image: none;
          border-image: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem; }
  .librarySection .leftContent .dropzone i {
    font-size: 8rem; }
  .librarySection .leftContent .dropzone .dz-success-mark,
  .librarySection .leftContent .dropzone .dz-error-mark {
    margin: 5px 10px; }
  .librarySection .leftContent .dropzone .dz-success-mark svg g path {
    fill: green !important; }
  .librarySection .leftContent .dropzone .dz-success-mark:hover svg g path {
    fill: #046404 !important; }
  .librarySection .leftContent .dropzone .dz-error-mark svg g path {
    fill: red !important; }
  .librarySection .leftContent .dropzone .dz-error-mark:hover svg g path {
    fill: #af0505 !important; }

.librarySection .rightControls {
  font-size: 1.9rem; }
  .librarySection .rightControls .nav-link {
    border-radius: 0; }

/* library end */
/*@import PAGES folder end-----------------------------*/

/*# sourceMappingURL=style.css.map */
