@font-face{
  font-family: Lato;
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"),local(Lato-HairlineItalic),url(//fonts.gstatic.com/s/lato/v14/81DMwqUqq96weubmVpbDyvesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/9TBVFLzQ3GUZLG8FZ4yrEfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/CggrdU0t5c42NcNxN-VM3_esZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"),local(Lato-LightItalic),url(//fonts.gstatic.com/s/lato/v14/2HG_tEPiQ4Z6795cGfdivPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/2HG_tEPiQ4Z6795cGfdivD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"),local(Lato-Italic),url(//fonts.gstatic.com/s/lato/v14/bjaQ6jyWa8A2XFrSKceJyA.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/PLygLKRVCQnA5fhu3qk5fQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/oUan5VrEkpzIazlUe5ieaA.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"),local(Lato-BoldItalic),url(//fonts.gstatic.com/s/lato/v14/HkF_qI1x_noxlxhrhMQYEPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"),local(Lato-BlackItalic),url(//fonts.gstatic.com/s/lato/v14/VNUH7ZAcagYBWsAiBBCEY_Y6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"),local(Lato-Hairline),url(//fonts.gstatic.com/s/lato/v14/KlmP_Vc2zOZBldw8AfXD5g.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/GtRkRNTnri0g82CjKnEB0Q.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/boeCNmOCCh-EWFLSfVffDg.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"),local(Lato-Light),url(//fonts.gstatic.com/s/lato/v14/zLhfkPOm_5ykmdm-wXaiuw.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/KT3KS9Aol4WfR6Vas8kNcg.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"),local(Lato-Regular),url(//fonts.gstatic.com/s/lato/v14/nQhiC-wSiJx0pvEuJl8d8A.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"),local(Lato-Bold),url(//fonts.gstatic.com/s/lato/v14/sBtfDPlEIwvKKU53nAG7AQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff"); }
@font-face{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"),local(Lato-Black),url(//fonts.gstatic.com/s/lato/v14/BjDVcwQGWPX2RAidnkd0Bw.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/tI4j516nok_GrVf4dhunkg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/BVtM30trf7q_jfqYeHfjtA.woff) format("woff"); }
@charset "UTF-8";
/*@import abstract folder */
/* colors */
/* utility margin */
/* font size */
/* gid */
/* Just include this SCSS mixin in any rule and specify the high resolution image’s path and device independent pixel dimensions
div.logo {
  background: url("logo.png") no-repeat;
  @include image-2x("logo2x.png",100px,25px);
}
The image-2x mixin detects high resolution displays like this
*/
/* triangle you see coming out of most traditional tooltips */
/* MEDIA QUERY MANAGER
0 - 600px:  Phone
600 - 900px: Tablet portrait
900 - 1200px Tablet landscape
1200 - 1800 is where our normal style apply
1800px + : Big Desktop

$brakpoint argument choices:
em is best for @media instead of px
- phone max-width: 600px /16 = 37.5em
- tab-port max-width: 900px / 16 = 56.25em
- tab-land max-width: 1200px / 16 = 75em
- big-desktop min-width: 1800px / 16 = 112.5em
ORDER:
> Base + typography
> general layout + grid
> page layout
> components
 */
/*@import abstract folder end-----------------------------*/
/*@import base folder */
/* Base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  /* projects that use icons. It doesn't affect much on most layouts I tried applying it on, as it only really comes up when inline or inline-block elements line up with each other on the same line. */
  vertical-align: middle;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-font-smoothing: antialiased; }

html {
  /* defines 1 rem = 62.5% of browser default rem which is 16px
  this leads to 1 rem = 62.5% of 16px = 10px to could make every font and size with rem and this is for easy responsive */
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f9f9f9; }

::-moz-selection {
  color: white;
  background: #7ed56f; }

::selection {
  color: white;
  background: #7ed56f; }

::-webkit-input-placeholder {
  color: #a5a5a5; }

:-moz-placeholder {
  color: #a5a5a5; }

::-moz-placeholder {
  color: #a5a5a5; }

:-ms-input-placeholder {
  color: #a5a5a5; }

::-ms-input-placeholder {
  color: #a5a5a5; }

::placeholder {
  color: #a5a5a5; }

a {
  cursor: pointer;
  text-decoration: none !important;
  color: #a5a5a5; }
  a:hover {
    color: #007ac0; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.dropdown-menu {
  -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
  border: 1px solid #c6c6c6;
  border-color: #000000;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px; }

.dropdown-item {
  font-size: 1.3rem;
  padding: .25rem 1.5rem; }
  .dropdown-item > .fa {
    padding-right: 6px; }
  .dropdown-item:hover {
    color: #fff !important;
    background-color: #007ac0; }

/* Base end-------------------- */
/* typography */
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

/* typography end----------------------- */
/* utility margin padding */
.u-text-center {
  text-align: center !important; }

/* margin-bottom */
.u-mb-small {
  margin-bottom: 2rem !important; }

.u-mb-medium {
  margin-bottom: 6rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-medium {
      margin-bottom: 3rem !important; } }

.u-mb-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-mb-big {
      margin-bottom: 5rem !important; } }

.u-mb-huge {
  margin-bottom: 10rem !important; }

/* margin-bottom end------------------------*/
/* margin-top */
.u-mt-small {
  margin-top: 2rem !important; }

.u-mt-medium {
  margin-top: 6rem !important; }

.u-mt-big {
  margin-top: 8rem !important; }

.u-mt-huge {
  margin-top: 10rem !important; }

/* margin-top end------------------------*/
/* margin-left */
.u-ml-small {
  margin-left: 1.1rem !important; }

.u-ml-medium {
  margin-left: 6rem !important; }

.u-ml-big {
  margin-left: 8rem !important; }

.u-ml-huge {
  margin-left: 10rem !important; }

/* margin-left end------------------------*/
/* margin-right */
.u-mr-small {
  margin-right: 1.1rem !important; }

.u-mr-medium {
  margin-right: 6rem !important; }

.u-mr-big {
  margin-right: 8rem !important; }

.u-mr-huge {
  margin-right: 10rem !important; }

/* margin-right end------------------------*/
/* utility margin padding end-----------------*/
/* animation */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-moz-keyframes moveInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-10rem);
         transform: translateX(-10rem); }
  80% {
    -moz-transform: translateX(2rem);
         transform: translateX(2rem); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
         transform: translateX(0); } }
@-o-keyframes moveInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-10rem);
       transform: translateX(-10rem); }
  80% {
    -o-transform: translateX(2rem);
       transform: translateX(2rem); }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
       transform: translateX(0); } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
       -moz-transform: translateX(-10rem);
         -o-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(2rem);
       -moz-transform: translateX(2rem);
         -o-transform: translateX(2rem);
            transform: translateX(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-moz-keyframes moveInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(10rem);
         transform: translateX(10rem); }
  80% {
    -moz-transform: translateX(-1rem);
         transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
         transform: translateX(0); } }

@-o-keyframes moveInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(10rem);
       transform: translateX(10rem); }
  80% {
    -o-transform: translateX(-1rem);
       transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
       transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
       -moz-transform: translateX(10rem);
         -o-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
       -moz-transform: translateX(-1rem);
         -o-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem); }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-moz-keyframes moveInBottom {
  0% {
    opacity: 0;
    -moz-transform: translateY(10rem);
         transform: translateY(10rem); }
  80% {
    -moz-transform: translateY(-1rem);
         transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
         transform: translateY(0); } }

@-o-keyframes moveInBottom {
  0% {
    opacity: 0;
    -o-transform: translateY(10rem);
       transform: translateY(10rem); }
  80% {
    -o-transform: translateY(-1rem);
       transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
       transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
       -moz-transform: translateY(10rem);
         -o-transform: translateY(10rem);
            transform: translateY(10rem); }
  80% {
    -webkit-transform: translateY(-1rem);
       -moz-transform: translateY(-1rem);
         -o-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); } }

/* animation end-------------------- */
/*@import base folder end-----------------------------*/
/*@import layout folder */
/* navigation */
.navbar {
  background-color: white !important;
  border-bottom: 1px solid #e8e8e8; }
  .navbar-nav .active a {
    color: #007ac0 !important; }
  .navbar-nav .nav-item {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important; }
  .navbar-nav .nav-link {
    font-size: 1.3rem; }
    .navbar-nav .nav-link i {
      font-size: 25px; }
  .navbar-nav .dropdown-menu {
    -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
    border: 1px solid #c6c6c6;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    left: -8rem; }
  .navbar-nav .dropdown-item {
    font-size: 1.2rem; }
    .navbar-nav .dropdown-item:hover {
      color: #fff;
      background-color: #007ac0; }

/* navigation end-------------------------------------- */
/* header */
/* header end------------------ */
/* footer */
.footer {
  border-top: 1px solid #a5a5a5; }

/* /footer end-------------------------------------- */
/*@import layout folder end-----------------------------*/
/*@import component */
/* btn component */
/* btn component end--------------------- */
/* card component */
.card {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .card:hover {
    -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
    border: 1px solid #c6c6c6;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px; }
  .card-body {
    position: relative; }
    .card-body .projectName {
      font-size: 1.9rem;
      color: #222; }
    .card-body .card-text {
      font-size: 1.2rem; }
    .card-body-icon {
      position: relative;
      top: -10px;
      right: 10px;
      text-align: center;
      font-size: 2rem;
      line-height: 40px;
      background-color: #e9e9e9;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .card-body-icon:hover {
        background-color: #007ac0;
        color: #fff; }
    .card-body__details {
      padding: 2.4rem 5rem 0 5rem;
      text-align: center; }
      .card-body__details h2 {
        color: #222;
        font-weight: bold; }
      .card-body__details > * {
        padding: 0 5rem; }
      .card-body__details-status {
        padding-top: 0.7rem; }
        .card-body__details-status h2 {
          font-size: 1.3rem; }

/* card component end----------------- */
/* form */
/* form end------------------------ */
.modal-dialog {
  -webkit-transform: translate(-50%, 90px) !important;
     -moz-transform: translate(-50%, 90px) !important;
      -ms-transform: translate(-50%, 90px) !important;
       -o-transform: translate(-50%, 90px) !important;
          transform: translate(-50%, 90px) !important; }

.modal-content {
  background-color: #f2f2f2;
  width: 70rem;
  overflow: hidden; }

.modal-body {
  height: 40rem;
  position: relative; }
  .modal-body .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .modal-body .list-group {
    position: absolute;
    z-index: 100;
    top: -15px;
    left: 0;
    height: 300rem;
    width: 22rem;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
    border: 1px solid #c6c6c6;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px; }
    .modal-body .list-group .active {
      background-color: #fff;
      color: #000;
      -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
              box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.3);
      border: 1px solid #c6c6c6;
      border-color: #000000;
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      position: relative; }
      .modal-body .list-group .active:after {
        content: "";
        display: inline;
        position: absolute;
        z-index: 100000;
        left: 21rem;
        top: 15px;
        border-bottom: 8.5px solid #fff;
        border-right: 8.5px solid #fff;
        border-top: 8.5px solid transparent;
        border-left: 8.5px solid transparent;
        -webkit-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.16);
                box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.16);
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .modal-body .list-group-item {
      background-color: #f2f2f2;
      border-radius: 0px !important;
      border: 0px !important;
      padding: 1rem;
      border: none;
      font-size: 1.1rem; }
      .modal-body .list-group-item:nth-child(1) {
        margin-top: 3rem; }
      .modal-body .list-group-item span {
        padding-right: 1rem; }

.modal-footer {
  border-top: 1px solid #eee; }

.modal .tab-content .list-Research {
  position: relative; }
  .modal .tab-content .list-Research span {
    display: inline-block; }
    .modal .tab-content .list-Research span:hover i {
      border: 1px solid #000;
      cursor: pointer; }
    .modal .tab-content .list-Research span i {
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 0 2rem;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
      font-size: 2.5rem; }
  .modal .tab-content .list-Research .tab-pane__research {
    margin: 1rem 0;
    display: block; }
    .modal .tab-content .list-Research .tab-pane__research-text {
      position: absolute;
      top: 5.5rem;
      left: 12rem; }
      .modal .tab-content .list-Research .tab-pane__research-text h5 {
        font-size: 1.7rem;
        color: #484848; }
      .modal .tab-content .list-Research .tab-pane__research-text p {
        font-size: 1.2rem; }

.modal .tab-pane a:hover .tab-pane__research {
  -webkit-transform: scale(1.03);
     -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
       -o-transform: scale(1.03);
          transform: scale(1.03); }

.modal .tab-pane a:active .tab-pane__research {
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9); }

.modal .tab-pane__research {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
  border: 1px solid #c6c6c6;
  border-color: #000000;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 10rem;
  margin: 1rem;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #d7d7d7; }
  .modal .tab-pane__research-head {
    width: 100%;
    height: 10rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d5f69), to(#000));
    background-image: -webkit-linear-gradient(#4d5f69, #000);
    background-image: -moz-linear-gradient(#4d5f69, #000);
    background-image: -o-linear-gradient(#4d5f69, #000);
    background-image: linear-gradient(#4d5f69, #000);
    position: relative; }
    .modal .tab-pane__research-head i {
      color: #fff;
      font-size: 3rem;
      position: absolute;
      top: -50%;
      left: -50%;
      -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
           -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .modal .tab-pane__research h5 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-left: 6px; }

/*@import component end-----------------------------*/
/*@import pages folder */
/* home */
.menu__close {
  left: -27rem; }

.menu__folder {
  margin-left: 27rem; }

.dropDownClickBorder {
  border: 1px solid #737373 !important;
  color: #007ac0 !important; }

main {
  min-height: 85vh;
  overflow: hidden; }
  main .section-home {
    position: relative; }
    main .section-home-folders__link {
      font-size: 2rem; }
      main .section-home-folders__link i {
        font-size: 2.5rem; }
    main .section-home-folders__menu {
      position: absolute;
      z-index: 100;
      top: -3rem;
      width: 25rem;
      height: 100rem;
      background-color: #fff;
      -webkit-box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
              box-shadow: 0 0.4rem 2.4rem -0.4rem rgba(0, 0, 0, 0.5);
      border: 1px solid #c6c6c6;
      border-color: #000000;
      border-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px; }
      main .section-home-folders__menu-close {
        position: relative; }
        main .section-home-folders__menu-close i {
          cursor: pointer;
          position: absolute;
          right: 0.9rem;
          font-weight: normal; }
          main .section-home-folders__menu-close i:hover {
            color: red; }
      main .section-home-folders__menu .nav-item {
        padding-top: 1rem;
        padding-bottom: 1rem; }
        main .section-home-folders__menu .nav-item:nth-child(2) {
          border-bottom: 1px solid #eee; }
        main .section-home-folders__menu .nav-item .active {
          font-weight: bold;
          color: #007ac0;
          background-color: #f9f9f9; }
        main .section-home-folders__menu .nav-item:last-child a {
          font-size: 1.1rem; }
      main .section-home-folders__menu .nav-link {
        font-size: 1.5rem; }
    main .section-home-dropdown__link {
      padding: 1rem;
      font-size: 1.2rem;
      border-radius: 5px;
      border: 1px solid transparent; }
      main .section-home-dropdown__link:hover {
        border: 1px solid #737373; }
    main .section-home-dropdown .dropdown-item > .fa {
      padding-right: 4px;
      visibility: hidden; }
    main .section-home-dropdown .dropdown-item.checked > .fa {
      visibility: visible; }
    main .section-home .form-inline {
      position: relative; }
      main .section-home .form-inline .fa-search {
        color: #a5a5a5;
        font-size: 1.7rem;
        position: absolute;
        top: 7px;
        left: 9px; }
      main .section-home .form-inline input {
        padding-left: 3rem; }

/* home end----------------- */
/*@import pages folder end-----------------------------*/

/*# sourceMappingURL=style.css.map */
