/* btn component */

.btn {
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: none;
    box-shadow: none;
  }
}

.addImgIcon {
  cursor: pointer;
  font-size: 2rem;
  &:hover {
    color: $nav-main-color;
  }
}

/* btn component end--------------------- */