/* btn component */

.btn {
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: none;
    box-shadow: none;
  }
}
i.fa-minus-circle {
  color: #b10c0c;
  &:hover {
    color: #f81212;
  }
}
i.fa-plus-circle {
  color: #036103;
  &:hover {
    color: rgb(7, 184, 7);
  }
}
.addQuestionControls {
  display: none;
  flex-direction: column;
  i {
    cursor: pointer;
    font-size: 2.2rem;
  }
}
.addImgIcon {
  cursor: pointer;
  font-size: 2rem;
  &:hover {
    color: $nav-main-color;
  }
}

.tableActions {
  button {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.change-options {
  min-height: 200px;
  &:hover > p {
    background-color: #161616;
  }
  font-size: 2rem;
  i {
    cursor: pointer;
    font-size: 3rem;
    margin: 0 4px;
    &:active {
      transform: scale(0.9);
    }
  }

  span {
    display: inline-block;
    width: 35px;
    color: #222;
    line-height: 1;
    font-weight: 700;
    transition: none;
  }
}
.change-action {
  button {
    text-align: left;
    width: 100%;
    font-size: 1.6rem;
    background: none;
    border-left: 3px solid transparent;
    &:hover {
      border-left: 3px solid #222;
    }
  }
  i {
    transition: all 0s !important;
  }
  .addDisplayLogic {
    i {
      transform: scaleY(-1);
    }
    &:hover {
      color: #300cb1;
    }
  }
  .addSkipLogic {
    i {
      transform: rotate(-90deg);
    }
    &:hover {
      color: #5b7205;
    }
  }
  .actionAdd {
    &:hover {
      color: #b10c0c;
    }
  }
  .actionCopy {
    &:hover {
      color: #036103;
    }
  }
  .actionPreview {
    &:hover {
      color: #009292;
    }
  }
}
.modalValidation {
  .modal-body {
    button {
      font-size: 1.8rem;
    }
  }
}
.displayLogicAddRemove {
  i {
    cursor: pointer;
    font-size: 2.3rem;
    &:active {
      transform: scale(0.9);
    }
  }
}
/* btn component end--------------------- */
