.dropDownClickBorder {
  border: 1px solid #737373 !important;
  color: $nav-main-color !important;
}

.section-home-dropdown {
  &__link {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid #737373;
    }
  }
  .dropdown-item {
    &>.fa {
      padding-right: 4px;
      visibility: hidden;
    }
    &.checked>.fa {
      visibility: visible;
    }
  }
}

.dropdown-menu {
  z-index: 6000;
  @include dropDownShadow;
}

.dropdown-item {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0 1.5rem;
  &>.fa {
    padding-right: 6px;
  }
  &:hover {
    color: #fff !important;
    background-color: $nav-main-color !important;
  }
}

.dropdown {
  border: 0 !important;
  background-color: transparent;
  outline: 0 !important;
}

/* edit_survey nav */

/* edit_survey nav end-- */